@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.hello {
  border: 1px solid red;
}

.text-shadow-like-border {
  text-shadow: 0.5px 0 0 #000000cc, -0.5px 0 0 #000000cc, 0 0.5px 0 #000000cc,
    0 -0.5px 0 #000000cc, 0.5px 0.5px #000000cc, -0.5px -0.5px 0 #000000cc,
    0.5px -0.5px 0 #000000cc, -0.5px 0.5px 0 #000000cc;
}
.text-shadow-like-border-2 {
  text-shadow: 1.3px 0 0 #000000cc, -1.3px 0 0 #000000cc, 0 1.3px 0 #000000cc,
    0 -1.3px 0 #000000cc, 1.3px 1.3px #000000cc, -1.3px -1.3px 0 #000000cc,
    1.3px -1.3px 0 #000000cc, -1.3px 1.3px 0 #000000cc;
}
.text-shadow-like-border-purple {
  text-shadow: 0.5px 0 0 purple, -0.5px 0 0 purple, 0 0.5px 0 purple,
    0 -0.5px 0 purple, 0.5px 0.5px purple, -0.5px -0.5px 0 purple,
    0.5px -0.5px 0 purple, -0.5px 0.5px 0 purple;
}
